.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.RiveContainer {
  position: absolute;
  height: 300px;
  width: 60%;
  background-color: black;
  border: 15px;
  margin: 0;
  padding: 0;
}
